@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">No compres aca, esta todo caro</h1>
    <p>Learn about <a href="https://youtu.be/dQw4w9WgXcQ">nada esta pasando aca</a>.</p>
</div>
